<!DOCTYPE html><html lang='en' class=''>
<head><link rel="stylesheet" href="http://localhost:3000/stylesheets/print.css" type="text/css"/>
<script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical"
href="https://codepen.io/joseroux/pen/ivCzd?editors=1000#0" />
<head>
<meta charset="UTF-8"/>
<title>{{type}} {{user.prenom}} {{user.nom}}</title>
<link href="https://fonts.googleapis.com/css?family=Nunito:300|Raleway:200,300" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
<h1>{{type}}
<h2>{{user.prenom}} {{user.nom}} {{user.entreprise}}</h2>
</h1>
</header>
<section class="flex">
<dl>
<dt>{{type}} #</dt>
<dd>{{_id}}</dd>
<dt>Date de facturation</dt>
<dd>23/01/2018</dd>
</dl>
</section>
<section class="flex">
<dl class="bloc">
<dt>{{type}} à:</dt>
<dd>
  {{user.entreprise}} <br>
  {{user.adresse_livraisson}}<br>
  <dl>
    <dt>Nom</dt>
    <dd>{{user.prenom}} {{user.nom}}</dd>
    <dt>Courriel</dt>
    <dd>{{user.email}}</dd>
  </dl>
</dd>
</dl>
<dl class="bloc">
<dt>Description de service:</dt>
<dd>Intelligence Artificielle</dd>
</dl>
</section>
<table>
<thead>
<tr>
  <th>Produit</th>
  <th>Entreprise</th>
  <th>Quantité</th>
  <th>Prix Hors Taxes</th>
  <th>Prix TTC</th>
</tr>
</thead>
<tbody>
{{#each panier.items}}
<tr>
  <td>{{item.title}}</td>
  <td>{{item.entreprise}}</td>
  <td>{{qty}}</td>
  <td>{{priceHT}} €</td>
  <td>{{price}} €</td>
</tr>
{{/each}}
</tbody>
<tfoot>
<tr>
  <td colspan="2"><strong>Total</strong></td>
  <td>{{panier.totalQty}}</td>
  <td>{{panier.totalPriceHT}} €</td>
  <td>{{panier.totalPrice}} €</td>
</tr>
</tfoot>
</table>
<footer>
<p>Jérémy Giral – Informatique − Développement WEB | </p>
<p>1777 some street in the woods, Utopia | Tél. 450-555-1000 | <a href="mailto:mail@me.com">mail@me.com</a></p>
</footer>
</body>

</body></html>"
