<div class="container">
  <div class="row">
    <div class="col-xs-4 item-photo">
      <img style="max-width:100%;" src="{{produit.imagePath}}" />
    </div>
    <div class="col-xs-5" style="border:0px solid gray">
      <!-- Datos del vendedor y titulo del producto -->
      <h3>{{produit.title}}</h3>
      <h5 style="color:#337ab7">Vendu par <a href="#">{{produit.entreprise}}</a> ·
        <h6 class="title-price"><small>Prix de l'offre</small></h6>
        <h3 style="margin-top:0px;">{{produit.price}} €</h3>
        <div class="section">
          <div class="section" style="padding-bottom:20px;">
              <a href="/panier/ajouter-au-panier/{{this.id}}"><button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Ajouter au panier</button></a>
          </div>
        </div>
        <div class="col-xs-9">
          <ul class="menu-items">
            <li class="active">Details du produit</li>
          </ul>
          <div style="width:100%;border-top:1px solid silver">
            <p style="padding:15px;">
              <small>{{produit.description}}</small>
            </p>
            <small>
              <ul>
                {{#each produit.caract_tech}}
                <li>{{this}}</li>
                {{/each}}
              </ul>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
